Repository l50/goutils, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/go, area/mage

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/go:
  - "pkg/**/*"
  - "cmd/**/*"
  - "*.go"
  - "magefiles/*"
  - "go.mod"
  - "go.sum"

area/mage:
  - "magefiles/*"

Migrated ansible to v2; added missing test
  go.sum
  v2/ansible/ansible.go
  v2/ansible/ansible_test.go
  v2/cloudflare/cloudflare.go
  v2/cloudflare/cloudflare_test.go
  v2/file/file.go
  v2/file/file_test.go
  v2/git/git.go
  v2/git/git_test.go
  v2/go.mod
  v2/go.sum
  v2/lint/lint.go
  v2/lint/lint_test.go
  v2/log/log.go
  v2/log/log_test.go
  v2/macos/macos.go
  v2/macos/macos_test.go
  v2/mage/mage.go
  v2/mage/mage_test.go
  v2/net/net.go
  v2/net/net_test.go
  v2/string/string.go
  v2/string/string_test.go
  v2/sys/sys.go
  v2/sys/sys_test.go
  v2/testvars/testvars.go
  v2/testvars/testvars_test.go
Labels: area/go

Add web package and tests
  v2/go.mod
  v2/go.sum
  v2/web/README.md
  v2/web/browser.go
  v2/web/browser_test.go
  v2/web/chrome/chrome.go
  v2/web/chrome/chrome_test.go
  v2/web/session.go
Labels: none

Add net package and tests
  .pre-commit-config.yaml
  v2/go.mod
  v2/go.sum
  v2/net/net.go
  v2/net/net_test.go
Labels: area/pre-commit

Add string package and tests
  v2/string/string.go
  v2/string/string_test.go
Labels: none

Fixed formatting of web README
  v2/web/README.md
Labels: none

Add string package README; update LICENSE date
  LICENSE
  v2/string/README.md
Labels: none

Linting
  v2/ansible/ansible_test.go
  v2/string/README.md
  v2/string/string_test.go
  v2/web/go.mod
  v2/web/go.sum
Labels: none

Uniform README for string and net packages
  v2/net/README.md
  v2/string/README.md
Labels: none

Add placeholders for packages that need to be migrated from v1
  v2/cloudflare/.gitkeep
  v2/cloudflare/cloudflare.go
  v2/cloudflare/cloudflare_test.go
  v2/file/.gitkeep
  v2/file/file.go
  v2/file/file_test.go
  v2/git/.gitkeep
  v2/git/git.go
  v2/git/git_test.go
  v2/lint/.gitkeep
  v2/lint/lint.go
  v2/lint/lint_test.go
  v2/log/.gitkeep
  v2/log/log.go
  v2/log/log_test.go
  v2/macos/.gitkeep
  v2/macos/macos.go
  v2/macos/macos_test.go
  v2/mage/.gitkeep
  v2/mage/mage.go
  v2/mage/mage_test.go
  v2/sys/.gitkeep
  v2/sys/sys.go
  v2/sys/sys_test.go
  v2/testvars/.gitkeep
  v2/testvars/testvars.go
  v2/testvars/testvars_test.go
Labels: none

Update names in string package to avoid stuttering
  v2/string/string.go
  v2/string/string_test.go
Labels: none

Add missing test for SlicesEqual()
  v2/string/string_test.go
Labels: none

Fixed sloppyTypeAssert errors; update go.mods
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  v2/web/browser.go
  v2/web/chrome/chrome.go
  v2/web/session.go
Labels: area/go, area/mage

Add README for ansible package; minor typo fix
  v2/ansible/README.md
  v2/ansible/ansible.go
Labels: none

Update web logic
  v2/web/README.md
  v2/web/browser.go
  v2/web/chrome/chrome.go
  v2/web/go.mod
  v2/web/session.go
Labels: none

Update Wait() to not use math/rand
  v2/web/browser.go
Labels: none

Fixed sloppyTypeAsserts; comments
  v2/web/browser.go
  v2/web/chrome/chrome.go
Labels: none

Migrated mageutils to v2
  v2/go.mod
  v2/go.sum
  v2/mage/.gitkeep
  v2/mage/mageutils.go
  v2/mage/mageutils_test.go
Labels: none

Migrated fileutils to v2
  v2/file/.gitkeep
  v2/file/fileutils.go
  v2/file/fileutils_test.go
Labels: none

chore(deps): update actions/setup-python digest to bd6b4b6
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update actions/setup-python digest to bd6b4b6
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 0225834
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 0225834
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 7120226
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 7120226
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update actions/labeler action to v4.0.4
  .github/workflows/meta-labeler.yaml
Labels: area/github

chore(deps): update actions/labeler action to v4.0.4
  .github/workflows/meta-labeler.yaml
Labels: area/github

Migrated lintutils to v2
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  v2/go.mod
  v2/go.sum
  v2/lint/.gitkeep
  v2/lint/lintutils.go
  v2/lint/lintutils_test.go
  v2/mage/mageutils_test.go
Labels: area/go, area/mage

Add v2 to go-unit-tests
  .hooks/go-unit-tests.sh
  mageutils_test.go
  v2/lint/lintutils_test.go
  v2/mage/mageutils_test.go
Labels: area/pre-commit, area/go

Migrated macosutils to v2
  v2/go.mod
  v2/go.sum
  v2/macos/.gitkeep
  v2/macos/macosutils.go
  v2/macos/macosutils_test.go
Labels: none

Migrated cloudflareutils to v2
  v2/cloudflare/.gitkeep
  v2/cloudflare/cloudflareutils.go
  v2/cloudflare/cloudflareutils_test.go
Labels: none

Updated string package to str to make life less painful/confusing
  v2/str/README.md
  v2/str/string.go
  v2/str/string_test.go
Labels: none

Minor refactor
  v2/str/README.md
  v2/str/str.go
  v2/str/str_test.go
Labels: none

Minor refaactor of fileutils
  v2/file/fileutils.go
  v2/file/fileutils_test.go
  v2/go.mod
Labels: none

Fix cyclo issues; refactoring
  v2/file/fileutils.go
  v2/file/fileutils_test.go
  v2/lint/lintutils.go
  v2/mage/mageutils.go
  v2/mage/mageutils_test.go
  v2/net/README.md
  v2/sys/sysutils.go
  v2/sys/sysutils_test.go
Labels: none

Migrated gitutils to v2
  v2/git/.gitkeep
  v2/git/gitutils.go
  v2/git/gitutils_test.go
  v2/go.mod
  v2/go.sum
Labels: none

Bug fixes
  v2/git/gitutils.go
  v2/lint/lintutils_test.go
  v2/mage/mageutils.go
  v2/mage/mageutils_test.go
  v2/sys/.gitkeep
  v2/sys/sysutils_test.go
Labels: none

All gitutils_test working
  v2/git/gitutils_test.go
Labels: none

More bug fixes
  v2/git/gitutils.go
  v2/git/gitutils_test.go
  v2/mage/mageutils_test.go
Labels: none

Fixed terrible Cd() test
  v2/sys/sysutils_test.go
Labels: none

Fixed overly verbose output
  v2/git/gitutils.go
Labels: none
