Repository l50/goutils, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/ansible, area/collection, area/cloudflare, area/dev, area/file, area/git, area/keeper, area/logging, area/macos, area/net, area/str, area/sys, area/web, area/go

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/*.go"

area/collection:
  - changed-files:
      - any-glob-to-any-file: "collection/*.go"

area/cloudflare:
  - changed-files:
      - any-glob-to-any-file: "cloudflare/*.go"

area/dev:
  - changed-files:
      - any-glob-to-any-file: "dev/**/*.go"

area/file:
  - changed-files:
      - any-glob-to-any-file: "file/*.go"

area/git:
  - changed-files:
      - any-glob-to-any-file: "git/*.go"

area/keeper:
  - changed-files:
      - any-glob-to-any-file: "keeper/*.go"

area/logging:
  - changed-files:
      - any-glob-to-any-file: "logging/*.go"

area/macos:
  - changed-files:
      - any-glob-to-any-file: "macos/*.go"

area/net:
  - changed-files:
      - any-glob-to-any-file: "net/*.go"

area/str:
  - changed-files:
      - any-glob-to-any-file: "str/*.go"

area/sys:
  - changed-files:
      - any-glob-to-any-file: "sys/*.go"

area/web:
  - changed-files:
      - any-glob-to-any-file: "web/*.go"
      - any-glob-to-any-file: "web/cdpchrome/*.go"

area/go:
  - changed-files:
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"

Minor nits
  .github/workflows/tests.yaml
Labels: area/github

Refactored Cmd struct and handleOutput method for concurrency safety
  sys/sysutils.go
Labels: area/sys

Update renovate action version
  .github/renovate.json5
  go.mod
  go.sum
Labels: area/github, area/go

Enhanced logging package with JSON output and improved handlers
  logging/logutils.go
  logging/prettyhandler.go
  logging/prettyhandler_test.go
Labels: area/logging

Refactor documentation generation to use go/packages and go/types
  dev/mage/mageutils.go
  docs/docGeneration.go
  docs/docGeneration_test.go
  go.mod
  logging/README.md
  logging/prettyhandler.go
Labels: area/dev, area/logging, area/go

Improve doc generation and test coverage
  .gitignore
  docs/docGeneration.go
  docs/docGeneration_test.go
Labels: none

Updated pre-commit action so that it doesn't run twice for pull requests
  .github/workflows/pre-commit.yaml
Labels: area/github

Enhance logging and documentation generation (#893)
  .gitignore
  dev/mage/mageutils.go
  docs/docGeneration.go
  docs/docGeneration_test.go
  go.mod
  logging/README.md
  logging/logutils.go
  logging/prettyhandler.go
  logging/prettyhandler_test.go
Labels: area/dev, area/logging, area/go

Updated pre-commit action so that it doesn't run twice for pull requests (#894)
  .github/workflows/pre-commit.yaml
Labels: area/github

Updated pre-commit hooks
  .pre-commit-config.yaml
Labels: area/pre-commit

Updated go mods
  go.mod
  go.sum
Labels: area/go

Updated nancy action so that it doesn't run twice for pull requests
  .github/workflows/nancy.yaml
Labels: area/github

Bumped go version in actions
  .github/workflows/goreleaser.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

Updated dependencies and CI workflow (#895)
  .github/workflows/goreleaser.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  go.mod
  go.sum
Labels: area/github, area/pre-commit, area/go

Fixed goreleaser action
  .github/workflows/goreleaser.yaml
Labels: area/github

Resolved bug that incorrectly defaulted to JSON output unless color logger was used
  logging/logutils.go
Labels: area/logging

Update step versions in nancy action
  .github/workflows/nancy.yaml
Labels: area/github

Update Workflow Dependencies and Logging Configuration Improvements (#896)
  .github/workflows/nancy.yaml
  logging/logutils.go
Labels: area/github, area/logging

feat: improve doc generation hook, update Go version, and upgrade deps
  .hooks/generate-docs.sh
  go.mod
  go.sum
Labels: area/pre-commit, area/go

fix: Resolve issues identified by nancy
  go.mod
  go.sum
Labels: area/go

feat: Add nancy vuln scan & switch to markdownlint CLI, upgrade go deps
  .hooks/linters/markdownlint.json
  .hooks/linters/mdstyle.rb
  .hooks/nancy-scan.sh
  .pre-commit-config.yaml
  go.mod
  go.sum
Labels: area/pre-commit, area/go

fix: Update go version in relevant GHA
  .github/workflows/goreleaser.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

fix: Set schema for goreleaser GHA to stop VSCode confusion
  .github/workflows/goreleaser.yaml
Labels: area/github

feat: Add Taskfile for local dev automation, update .gitignore for artifacts
  .gitignore
  Taskfile.yaml
Labels: none

feat: Improve pre-commit workflow with go-task integration
  .github/workflows/pre-commit.yaml
Labels: area/github

feat: Update markdownlint config and pre-commit setup for markdown linting
  .hooks/linters/markdownlint.json
  .pre-commit-config.yaml
Labels: area/pre-commit

feat: Add nancy vuln scan pc hook, switch to markdownlint CLI, upgrade Go deps (#993)
  .github/workflows/goreleaser.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
  .gitignore
  .hooks/generate-docs.sh
  .hooks/linters/markdownlint.json
  .hooks/linters/mdstyle.rb
  .hooks/nancy-scan.sh
  .pre-commit-config.yaml
  Taskfile.yaml
  go.mod
  go.sum
Labels: area/github, area/pre-commit, area/go

ci: remove github actions workflows and update readme for archival
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
  README.md
Labels: area/github

ci: remove github actions workflows and update readme for archival (#1095)
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
  README.md
Labels: area/github
