Repository l50/goutils, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/go, area/mage

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/go:
  - "pkg/**/*"
  - "cmd/**/*"
  - "*.go"
  - "magefiles/*"
  - "go.mod"
  - "go.sum"

area/mage:
  - "magefiles/*"

Updated go-unit-tests for v2
  .pre-commit-config.yaml
Labels: area/pre-commit

Updated tests to v2
  .github/workflows/tests.yaml
  .hooks/go-unit-tests.sh
Labels: area/github, area/pre-commit

Add TestRunPCHooks
  v2/lint/lintutils_test.go
Labels: none

Improve readability of gitutils output
  v2/git/gitutils.go
Labels: none

Add v2 example
  .hooks/go-unit-tests.sh
Labels: area/pre-commit

Minor linting and updating func comments
  v2/cloudflare/cloudflareutils.go
  v2/mage/mageutils.go
  v2/sys/sysutils.go
Labels: none

Begin reworking comments in gitutils
  v2/git/gitutils.go
Labels: none

Update go mod and sum
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go, area/mage

Migrated logutils to v2
  v2/git/gitutils.go
  v2/log/.gitkeep
  v2/logging/logutils.go
  v2/logging/logutils_test.go
  v2/sys/sysutils.go
  v2/testvars/.gitkeep
Labels: none

Cleaned up output
  .pre-commit-config.yaml
  dev/mageutils.go
  dev/mageutils_test.go
  file/fileutils.go
  git/gitutils.go
  git/gitutils_test.go
  go.mod
  go.sum
  lint/lintutils.go
  macos/macosutils.go
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
  net/net.go
  sys/sysutils.go
  sys/sysutils_test.go
Labels: area/pre-commit, area/go, area/mage

Update go-unit-tests with the removal of the v2 dir
  .hooks/go-unit-tests.sh
Labels: area/pre-commit

Remove non-existent directories from go-vet hook
  .hooks/go-vet.sh
Labels: area/pre-commit

Update go-vet to account for all hidden directories
  .hooks/go-vet.sh
Labels: area/pre-commit

Remove old go mod settings
  go.mod
  go.sum
  web/go.mod
  web/go.sum
Labels: area/go

Fixed browser automation logic in web
  go.mod
  go.sum
  web/browser.go
  web/browser_test.go
  web/chrome/chrome.go
  web/session.go
Labels: area/go

Add golds
  go.mod
  go.sum
Labels: area/go

chore(deps): update github/codeql-action digest to 83f0fe6
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 83f0fe6
  .github/workflows/codeql-analysis.yaml
Labels: area/github

fix(deps): update module github.com/shirou/gopsutil/v3 to v3.23.5
  go.mod
  go.sum
Labels: area/go

fix(deps): update module github.com/stretchr/testify to v1.8.4
  go.mod
  go.sum
Labels: area/go

chore(deps): update pre-commit hook adrienverge/yamllint to v1.32.0
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update renovatebot/github-action action to v37.1.0
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v37.1.0
  .github/workflows/renovate.yaml
Labels: area/github

README for every package
  file/README.md
  str/README.md
  sys/README.md
Labels: none

fix(deps): update module github.com/go-git/go-git/v5 to v5.7.0
  go.mod
  go.sum
Labels: area/go

fix(deps): update module github.com/l50/goutils to v1.3.0
  magefiles/go.mod
Labels: area/go, area/mage

chore(deps): update renovatebot/github-action action to v38
  .github/workflows/renovate.yaml
Labels: area/github

Add standardized comments to all exported fileutils functions
  file/fileutils.go
  file/fileutils_test.go
  go.mod
  go.sum
Labels: area/go

chore(deps): update renovatebot/github-action action to v38
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update module github.com/l50/goutils to v1.3.0
  magefiles/go.mod
Labels: area/go, area/mage

fix(deps): update module github.com/go-git/go-git/v5 to v5.7.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update pre-commit hook adrienverge/yamllint to v1.32.0
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module github.com/stretchr/testify to v1.8.4
  go.mod
  go.sum
Labels: area/go

Fixed bugs in sys tests; move rm -rf to sys
  file/fileutils_test.go
  magefiles/go.mod
  magefiles/go.sum
  sys/sysutils.go
  sys/sysutils_test.go
Labels: area/go, area/mage

Migrated keeperutils to v2
  keeper/keeperutils.go
  keeper/keeperutils_test.go
Labels: none

Improved comments and tests; added README
  keeper/README.md
  keeper/keeperutils.go
  keeper/keeperutils_test.go
Labels: none

Add README to net
  net/README.md
  net/net.go
  net/net_test.go
Labels: none

Uniform function comments; add and update README files
  keeper/README.md
  web/README.md
  web/browser.go
  web/chrome/README.md
  web/chrome/chrome.go
Labels: none

Add new functions and tests
  web/browser.go
  web/browser_test.go
Labels: none

Add missing tests
  web/chrome/README.md
  web/chrome/chrome_test.go
Labels: none
