Repository l50/goutils, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/ansible, area/collection, area/cloudflare, area/dev, area/file, area/git, area/keeper, area/logging, area/macos, area/net, area/str, area/sys, area/web, area/go

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/*.go"

area/collection:
  - changed-files:
      - any-glob-to-any-file: "collection/*.go"

area/cloudflare:
  - changed-files:
      - any-glob-to-any-file: "cloudflare/*.go"

area/dev:
  - changed-files:
      - any-glob-to-any-file: "dev/**/*.go"

area/file:
  - changed-files:
      - any-glob-to-any-file: "file/*.go"

area/git:
  - changed-files:
      - any-glob-to-any-file: "git/*.go"

area/keeper:
  - changed-files:
      - any-glob-to-any-file: "keeper/*.go"

area/logging:
  - changed-files:
      - any-glob-to-any-file: "logging/*.go"

area/macos:
  - changed-files:
      - any-glob-to-any-file: "macos/*.go"

area/net:
  - changed-files:
      - any-glob-to-any-file: "net/*.go"

area/str:
  - changed-files:
      - any-glob-to-any-file: "str/*.go"

area/sys:
  - changed-files:
      - any-glob-to-any-file: "sys/*.go"

area/web:
  - changed-files:
      - any-glob-to-any-file: "web/*.go"
      - any-glob-to-any-file: "web/cdpchrome/*.go"

area/go:
  - changed-files:
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"

Update go mods
  go.mod
  go.sum
Labels: area/go

Fixed accidentally overwritten repo README
  README.md
Labels: none

Fixed badges in README.md
  README.md
Labels: none

Enhance Kubernetes dynamic execution with interface and updated docs
  go.sum
  k8s/dynamic/README.md
  k8s/dynamic/execution.go
  k8s/dynamic/execution_test.go
Labels: area/go

Failing test that doesn't crash
  go.mod
  k8s/dynamic/README.md
  k8s/dynamic/execution.go
  k8s/dynamic/execution_test.go
Labels: area/go

**Refactor and Extend Kubernetes Client Implementation**
  go.mod
  go.sum
  k8s/client/README.md
  k8s/client/client.go
  k8s/client/client_test.go
  k8s/dynamic/execution.go
  k8s/dynamic/execution_test.go
  k8s/loggers/deploymentLogger.go
  k8s/loggers/deploymentLogger_test.go
  k8s/loggers/serviceLogger.go
  k8s/loggers/serviceLogger_test.go
Labels: area/go

Update go mods
  go.mod
  go.sum
Labels: area/go

Replaced return of *kubernetes.Clientset with interface
  k8s/client/README.md
  k8s/client/client.go
Labels: none

Enhanced Kubernetes dynamic execution and client operations
  go.mod
  go.sum
  k8s/client/README.md
  k8s/client/client.go
  k8s/client/client_test.go
  k8s/dynamic/README.md
  k8s/dynamic/execution.go
  k8s/dynamic/execution_test.go
  k8s/loggers/deploymentLogger.go
  k8s/loggers/deploymentLogger_test.go
  k8s/loggers/serviceLogger.go
  k8s/loggers/serviceLogger_test.go
Labels: area/go

Removed print statement from utility
  k8s/dynamic/status.go
Labels: none

Refactored resource status waiting logic in Kubernetes client
  k8s/dynamic/README.md
  k8s/dynamic/status.go
  k8s/dynamic/status_test.go
Labels: none

Update go mods
  go.mod
  go.sum
Labels: area/go

Refactored resource status waiting logic in Kubernetes client (#677)
  go.mod
  go.sum
  k8s/dynamic/README.md
  k8s/dynamic/status.go
  k8s/dynamic/status_test.go
Labels: area/go

Removed remaining print statements
  k8s/dynamic/status.go
Labels: none

Improved GetResourceStatus() and added tests
  k8s/dynamic/status.go
  k8s/dynamic/status_test.go
Labels: none

Aligned location of functions between code and tests
  k8s/dynamic/status.go
  k8s/dynamic/status_test.go
Labels: none

Cleaned up go mods
  go.mod
  go.sum
Labels: area/go

Fix noisy nancy action
  .github/workflows/nancy.yaml
Labels: area/github

Add CreateConfigMapFromScript and test
  k8s/manifests/README.md
  k8s/manifests/manifestHelpers.go
  k8s/manifests/manifestHelpers_test.go
Labels: none

Update go mods
  go.mod
  go.sum
Labels: area/go

Add CreateConfigMapFromScript and test (#688)
  go.mod
  go.sum
  k8s/manifests/README.md
  k8s/manifests/manifestHelpers.go
  k8s/manifests/manifestHelpers_test.go
Labels: area/go

Enhance resource status handling and expand testing
  .pre-commit-config.yaml
  k8s/dynamic/status.go
  k8s/dynamic/status_test.go
Labels: area/pre-commit

Testing fix for streaming issues
  k8s/dynamic/execution.go
Labels: none

Updated go mods
  go.mod
  go.sum
Labels: area/go

Updated go test script and refactored collection package.
  .hooks/run-go-tests.sh
  collection/README.md
  collection/slices.go
  collection/slices_test.go
  go.mod
  go.sum
  sys/sysutils.go
  sys/sysutils_test.go
Labels: area/pre-commit, area/collection, area/sys, area/go

Updated go test script and refactored collection package. (#781)
  .hooks/run-go-tests.sh
  collection/README.md
  collection/slices.go
  collection/slices_test.go
  go.mod
  go.sum
  sys/sysutils.go
  sys/sysutils_test.go
Labels: area/pre-commit, area/collection, area/sys, area/go

Add SetupKubeConfig function and tests for kubeconfig handling
  k8s/client/README.md
  k8s/client/client.go
  k8s/client/client_test.go
Labels: none

Add SetupKubeConfig function and tests for kubeconfig handling (#784)
  k8s/client/README.md
  k8s/client/client.go
  k8s/client/client_test.go
Labels: none

Added CheckKubeConfig function and tests
  k8s/client/README.md
  k8s/client/client.go
  k8s/client/client_test.go
Labels: none

Coverage: 91.1% of statements
  k8s/client/client_test.go
  k8s/jobs/README.md
  k8s/jobs/buildingTest_test.go
  k8s/jobs/jobHelpers.go
  k8s/manifests/manifestHelpers.go
Labels: none

93.3% coverage
  k8s/jobs/buildingTest_test.go
  k8s/jobs/jobHelpers.go
Labels: none

All test cases working in `buildingTest_test.go`
  k8s/jobs/applyK8sJob_test.go
Labels: none

New test cases working (#785)
  k8s/client/client_test.go
  k8s/jobs/README.md
  k8s/jobs/applyK8sJob_test.go
  k8s/jobs/jobHelpers.go
  k8s/manifests/manifestHelpers.go
Labels: none

Added TestDeleteKubernetesJob()
  k8s/jobs/jobHelpers_test.go
Labels: none

Refactored Kubernetes Job client tests and implementation
  k8s/jobs/applyK8sJob_test.go
  k8s/jobs/jobHelpers.go
Labels: none

Refactored Kubernetes Job client tests and implementation (#786)
  k8s/jobs/applyK8sJob_test.go
  k8s/jobs/jobHelpers.go
Labels: none

StreamJobLogs + 0% coverage test
  go.mod
  go.sum
  k8s/jobs/README.md
  k8s/jobs/jobHelpers.go
  k8s/jobs/jobHelpers_test.go
Labels: area/go

Refactored jobHelpers and tests for mock implementation
  go.mod
  go.sum
  k8s/dynamic/status.go
  k8s/jobs/README.md
  k8s/jobs/jobHelpers.go
  k8s/jobs/jobHelpers_test.go
  k8s/jobs/streamJobLogs_test.go
Labels: area/go

Refactored jobHelpers and tests for mock implementation (#794)
  go.mod
  go.sum
  k8s/dynamic/status.go
  k8s/jobs/README.md
  k8s/jobs/jobHelpers.go
  k8s/jobs/streamJobLogs_test.go
Labels: area/go

Add redundancy and resilience to StreamLogs()
  k8s/loggers/logStreamer.go
Labels: none
