Repository l50/goutils, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/go

chore(deps): update pre-commit hook adrienverge/yamllint to v1.31.0
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module github.com/bitfield/script to v0.22.0
  go.mod
  go.sum
Labels: none

fix(deps): update module github.com/otiai10/copy to v1.11.0
  go.mod
  go.sum
Labels: none

Closes #28
  .hooks/go-vet.sh
  .pre-commit-config.yaml
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  mageutils.go
Labels: area/pre-commit, area/go

chore(deps): update returntocorp/semgrep-action digest to b802485
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to b802485
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to f3feb00
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to f3feb00
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 8689a93
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 8689a93
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update shogo82148/actions-goveralls digest to df920a6
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update shogo82148/actions-goveralls digest to df920a6
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 29b1f65
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 29b1f65
  .github/workflows/codeql-analysis.yaml
Labels: area/github

fix(deps): update module github.com/shirou/gopsutil/v3 to v3.23.4
  go.mod
  go.sum
Labels: none

chore(deps): update renovatebot/github-action action to v36.1.1
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v36.1.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update module github.com/shirou/gopsutil/v3 to v3.23.4
  go.mod
  go.sum
Labels: none

Specify branch for codeql action to avoid errors with renovatebot
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to d84805b
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to d84805b
  .github/workflows/semgrep.yaml
Labels: area/github

fix(deps): update module github.com/magefile/mage to v1.15.0
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: none

chore(deps): update renovatebot/github-action action to v37
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v37
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update module github.com/magefile/mage to v1.15.0
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: none

chore(deps): update actions/setup-go digest to fac708d
  .github/workflows/goreleaser.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update actions/setup-go digest to fac708d
  .github/workflows/goreleaser.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 245bf11
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 245bf11
  .github/workflows/semgrep.yaml
Labels: area/github

fix(deps): update module github.com/stretchr/testify to v1.8.3
  go.mod
  go.sum
Labels: none

fix(deps): update module github.com/stretchr/testify to v1.8.3
  go.mod
  go.sum
Labels: none

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/go:
  - "*.go"
