Repository l50/goutils, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/go, area/mage

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/go:
  - "pkg/**/*"
  - "cmd/**/*"
  - "*.go"
  - "magefiles/*"
  - "go.mod"
  - "go.sum"

area/mage:
  - "magefiles/*"

Improve macos tests and add README
  macos/README.md
  macos/macosutils_test.go
Labels: none

Add README for logging package
  logging/README.md
Labels: none

Add README for lint package
  lint/README.md
Labels: none

Lint README files
  lint/README.md
  logging/README.md
  macos/README.md
  net/README.md
  web/README.md
  web/chrome/README.md
Labels: none

Add dev README; linting
  dev/README.md
  macos/README.md
Labels: none

Add README for cloudflare
  cloudflare/README.md
Labels: none

Linting
  cloudflare/README.md
  dev/README.md
  macos/README.md
Labels: none

Remove outdated flag from GoReleaser()
  dev/mageutils.go
Labels: none

Add go vet back into pre-commit hooks
  .hooks/go-vet.sh
  .pre-commit-config.yaml
Labels: area/pre-commit

Improve dev tests
  dev/mageutils_test.go
  go.mod
  go.sum
Labels: area/go

Add Context field to Site for situations that call for dynamic contexts
  web/chrome/chrome.go
Labels: none

All mageutils tests working
  dev/mageutils_test.go
Labels: none

Update GetRandomWait() to take int parameters instead of time
  web/browser.go
  web/browser_test.go
Labels: none

Added IsNumeric() and test
  str/str.go
  str/str_test.go
Labels: none

Add CheckElement() and test
  str/README.md
  web/cdpchrome/README.md
  web/cdpchrome/chrome.go
  web/cdpchrome/chrome_test.go
Labels: none

Finish refactor of cdpchrome
  web/cdpchrome/README.md
  web/cdpchrome/cdpchrome.go
  web/cdpchrome/cdpchrome_test.go
Labels: none

Add missing README for git utils
  git/README.md
  git/gitutils.go
Labels: none

Add updated dependencies from main
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go, area/mage

Break mageutils into their own package
  dev/lint/README.md
  dev/lint/lintutils.go
  dev/lint/lintutils_test.go
  dev/mage/README.md
  dev/mage/mageutils.go
  dev/mage/mageutils_test.go
  go.mod
  go.sum
  magefiles/magefile.go
Labels: area/go, area/mage

Fixed argument processing for go-unit-tests hook
  .hooks/go-unit-tests.sh
Labels: area/pre-commit

Improved reliability and usability of RunCommandWithTimeout()
  sys/sysutils.go
  sys/sysutils_test.go
Labels: none

Fixed RunPCHooks() and test
  dev/lint/lintutils.go
  dev/lint/lintutils_test.go
  sys/sysutils_test.go
Labels: none

Numerous fixes as a result of changes to sys pkg
  go.mod
  go.sum
  keeper/keeperutils.go
  sys/sysutils.go
  sys/sysutils_test.go
Labels: area/go

TestRunPCHooks() less fragile
  dev/lint/lintutils_test.go
Labels: none
